@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: rgb(186 230 253);
 
  }





header {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 75px;   
}

header > * {
    border-radius: 60px;
    padding: 4px;
}

section {
    display: flex;
    gap: 30px;
    background: skyblue url("/home/eqo234/resume-site/resume-site/Resume/src/assets/custom-cloud.svg") repeat  
}

 